# Simple analytics

In [1]:
import psycopg2
import pandas as pd
from db_values import HOST, DBNAME, USER, PASSWORD
from sql_queries import AVG_POINTS_BY_PLAYER_QUERY, COUNT_GAMES_PER_TOURNAMENT_QUERY, WINS_PER_SURFACE_QUERY, CURRENT_PRE_MATCH_ATP_RANKINGS_QUERY

In [2]:
def connect_to_db():
    try:
        # Set up the connection parameters to PostgreSQL
        conn = psycopg2.connect(
            dbname=DBNAME,  
            user=USER,         
            password=PASSWORD,     
            host=HOST,             
        )
        print("Connection to database established.")
        return conn
    except Exception as e:
        print(f"Error connecting to database: {e}")
        return None

In [3]:
def execute_and_print_query(query, row_limit=10):
    conn = connect_to_db()
    if conn is None:
        return

    try:
        cur = conn.cursor()
        cur.execute(query)

        # Fetch all results
        results = cur.fetchall()

        # Print top rows up to the specified limit
        for idx, row in enumerate(results[:row_limit]):
            print(f"Row {idx + 1}: {row}")

        cur.close()
        conn.close()
        print("Database connection closed.")
    except Exception as e:
        print(f"Error during DB operation: {e}")

In [4]:
execute_and_print_query(AVG_POINTS_BY_PLAYER_QUERY, row_limit=5)

Connection to database established.
Row 1: (248, 'Van Rijthoven T.', None)
Row 2: (60, 'Djokovic N.', Decimal('9526.2500000000000000'))
Row 3: (53, 'Sinner J.', Decimal('8613.2258064516129032'))
Row 4: (86, 'Alcaraz C.', Decimal('8324.1666666666666667'))
Row 5: (63, 'Medvedev D.', Decimal('7095.4081632653061224'))
Database connection closed.

In [5]:
execute_and_print_query(COUNT_GAMES_PER_TOURNAMENT_QUERY, row_limit=10)

Connection to database established.
Row 1: (32, 'French Open', 127)
Row 2: (39, 'Wimbledon', 127)
Row 3: (5, 'Australian Open', 127)
Row 4: (51, 'US Open', 127)
Row 5: (28, 'Mutua Madrid Open', 95)
Row 6: (29, "Internazionali BNL d'Italia", 95)
Row 7: (20, 'Miami Open', 95)
Row 8: (19, 'BNP Paribas Open', 95)
Row 9: (49, 'Western & Southern Financial Group Masters', 55)
Row 10: (48, 'Canadian Open', 55)
Database connection closed.

In [6]:
execute_and_print_query(CURRENT_PRE_MATCH_ATP_RANKINGS_QUERY, row_limit=10)

Connection to database established.
Row 1: (53, 'Sinner J.', 1, 9360)
Row 2: (60, 'Djokovic N.', 2, 7460)
Row 3: (86, 'Alcaraz C.', 3, 7360)
Row 4: (85, 'Zverev A.', 4, 7035)
Row 5: (63, 'Medvedev D.', 5, 6275)
Row 6: (30, 'Rublev A.', 6, 4805)
Row 7: (76, 'Hurkacz H.', 7, 4055)
Row 8: (82, 'Ruud C.', 8, 3855)
Row 9: (5, 'Dimitrov G.', 9, 3655)
Row 10: (75, 'De Minaur A.', 10, 3435)
Database connection closed.

In [7]:
execute_and_print_query(WINS_PER_SURFACE_QUERY, row_limit=10)

Connection to database established.
Row 1: (53, 'Sinner J.', 'Hard', 36)
Row 2: (30, 'Rublev A.', 'Hard', 26)
Row 3: (11, 'Thompson J.', 'Hard', 25)
Row 4: (5, 'Dimitrov G.', 'Hard', 25)
Row 5: (56, 'Baez S.', 'Clay', 23)
Row 6: (85, 'Zverev A.', 'Hard', 23)
Row 7: (82, 'Ruud C.', 'Clay', 22)
Row 8: (63, 'Medvedev D.', 'Hard', 22)
Row 9: (101, 'Darderi L.', 'Clay', 21)
Row 10: (29, 'Tiafoe F.', 'Hard', 21)
Database connection closed.

In [16]:
execute_and_print_query("""
                        SELECT
                        --m.match_id,
                        --m.tournament_id,
                        m.date,
                        m.round,
                        --m.best_of,
                        w.name AS winner_name,
                        l.name AS loser_name,
                        m.winner_rank,
                        m.loser_rank,
                        m.winner_pts,
                        m.loser_pts,
                        m.winner_sets,
                        m.loser_sets,
                        m.comments
                        FROM matches m
                        JOIN players w ON m.winner_id = w.player_id
                        JOIN players l ON m.loser_id = l.player_id
                        ORDER BY m.date DESC
                        LIMIT 10
                        """, row_limit=5)

Connection to database established.
Row 1: (datetime.date(2024, 9, 8), 'The Final', 'Sinner J.', 'Fritz T.', 1, 12, 9360, 3120, 3, 0, 'Completed')
Row 2: (datetime.date(2024, 9, 7), 'Semifinals', 'Fritz T.', 'Tiafoe F.', 12, 20, 3120, 2120, 3, 2, 'Completed')
Row 3: (datetime.date(2024, 9, 6), 'Semifinals', 'Sinner J.', 'Draper J.', 1, 25, 9360, 1695, 3, 0, 'Completed')
Row 4: (datetime.date(2024, 9, 5), 'Quarterfinals', 'Sinner J.', 'Medvedev D.', 1, 5, 9360, 6275, 3, 1, 'Completed')
Row 5: (datetime.date(2024, 9, 4), 'Quarterfinals', 'Tiafoe F.', 'Dimitrov G.', 20, 9, 2120, 3655, 2, 1, 'Retired')
Database connection closed.