In [5]:
import sys
from pathlib import Path
import os

# Determine the current working directory of the notebook
notebook_dir = Path(os.getcwd())

# Add the parent directory to sys.path
parent_dir = notebook_dir.parent
sys.path.append(str(parent_dir))

# Now you can import aux.py
from aux import connect_to_db
import pandas as pd
import psycopg2
from flask import jsonify
from psycopg2.extras import RealDictCursor
from db_values import HOST, DBNAME, USER, PASSWORD

In [12]:
conn = psycopg2.connect(
            dbname=DBNAME,  
            user=USER,         
            password=PASSWORD,     
            host="localhost",             
        )

In [13]:
sql_query = "SELECT * FROM players"  
sql_data = pd.read_sql(sql_query, conn)

/tmp/ipykernel_36820/1130475543.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_data = pd.read_sql(sql_query, conn)

In [19]:
csv_data = pd.read_csv("../data/players_data.csv")  # Columns: 'name', 'other_data'

In [20]:
# Preprocess CSV names
csv_data['first_name'] = csv_data['name'].apply(lambda x: x.split()[0])  # First word
csv_data['last_name'] = csv_data['name'].apply(lambda x: x.split()[-1])  # Last word
csv_data['key'] = csv_data['last_name'] + " " + csv_data['first_name'].str[0]  # 'LastName FirstInitial'

# Preprocess SQL names
sql_data['last_name'] = sql_data['name'].apply(lambda x: x.split()[0])  # First word
sql_data['initial'] = sql_data['name'].apply(lambda x: x.split()[-1].strip('.'))  # Last character
sql_data['key'] = sql_data['last_name'] + " " + sql_data['initial']  # 'LastName Initial'

In [23]:
# Merge CSV and SQL data on the key
merged_data = pd.merge(
    csv_data, sql_data, on='key', how='left', suffixes=('_csv', '_sql')
)

# Identify unmatched rows
unmatched_csv = merged_data[merged_data['name_sql'].isna()]
unmatched_sql = sql_data[~sql_data['key'].isin(merged_data['key'])]

In [25]:
unmatched_csv

,rank,name_csv,age,points,nationality,atp_code,first_name,last_name_csv,key,player_id,name_sql,last_name_sql,initial
8,9,Alex de Minaur,25,3745,AUS,dh58,Alex,Minaur,Minaur A,NaN,NaN,NaN,NaN
30,31,Giovanni Mpetshi Perricard,21,1561,FRA,m0gz,Giovanni,Perricard,Perricard G,NaN,NaN,NaN,NaN
42,43,Jan-Lennard Struff,34,1240,GER,sl28,Jan-Lennard,Struff,Struff J,NaN,NaN,NaN,NaN
44,45,Zhizhen Zhang,28,1155,CHN,z371,Zhizhen,Zhang,Zhang Z,NaN,NaN,NaN,NaN
45,46,Roberto Bautista Agut,36,1151,ESP,bd06,Roberto,Agut,Agut R,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michiel De Krom,26,79,NED,dh55,Michiel,Krom,Krom M,NaN,NaN,NaN,NaN
496,497,Andrew Paulson,23,78,CZE,p0ev,Andrew,Paulson,Paulson A,NaN,NaN,NaN,NaN
497,498,Tyler Zink,23,78,USA,z0ak,Tyler,Zink,Zink T,NaN,NaN,NaN,NaN
498,499,Patrick Maloney,24,78,USA,m0re,Patrick,Maloney,Maloney P,NaN,NaN,NaN,NaN
499,500,Stefanos Sakellaridis,20,77,GRE,s0kt,Stefanos,Sakellaridis,Sakellaridis S,NaN,NaN,NaN,NaN

In [26]:
unmatched_sql

     player_id                  name    last_name initial            key
11          12             Kubler J.       Kubler       J       Kubler J
19          20  Van De Zandschulp B.          Van       B          Van B
21          22             Broady L.       Broady       L       Broady L
23          24           Struff J.L.       Struff     J.L     Struff J.L
24          25      Bautista Agut R.     Bautista       R     Bautista R
25          26          Huesler M.A.      Huesler     M.A    Huesler M.A
32          33          O Connell C.            O       C            O C
42          43         Van Assche L.          Van       L          Van L
47          48    Carballes Baena R.    Carballes       R    Carballes R
54          55            De Jong J.           De       J           De J
57          58            Galan D.E.        Galan     D.E      Galan D.E
63          64  Davidovich Fokina A.   Davidovich       A   Davidovich A
69          70             Zhang Zh.        Zhang      Zh       Zhang Zh
74          75          De Minaur A.           De       A           De A
92          93        Llamas Ruiz P.       Llamas       P       Llamas P
98          99        Diaz Acosta F.         Diaz       F         Diaz F
101        102    Zapata Miralles B.       Zapata       B       Zapata B
103        104          Tirante T.A.      Tirante     T.A    Tirante T.A
112        113      Ugo Carabelli C.          Ugo       C          Ugo C
115        116  Moreno De Alboran N.       Moreno       N       Moreno N
121        122             Murray A.       Murray       A       Murray A
124        125            Barrios M.      Barrios       M      Barrios M
125        126       Seyboth Wild T.      Seyboth       T      Seyboth T
126        127     Meligeni Alves F.     Meligeni       F     Meligeni F
132        133        Cerundolo J.M.    Cerundolo     J.M  Cerundolo J.M
133        134         Varillas J.P.     Varillas     J.P   Varillas J.P
139        140             Kwon S.W.         Kwon     S.W       Kwon S.W
141        142              Thiem D.        Thiem       D        Thiem D
143        144      Jorda Sanchis D.        Jorda       D        Jorda D
145        146             Wolf J.J.         Wolf     J.J       Wolf J.J
149        150         Moro Canas A.         Moro       A         Moro A
159        160            Mpetshi G.      Mpetshi       G      Mpetshi G
166        167           Mcdonald M.     Mcdonald       M     Mcdonald M
189        190           Tseng C. H.        Tseng       H        Tseng H
192        193      Carreno Busta P.      Carreno       P      Carreno P
212        213             Mccabe J.       Mccabe       J       Mccabe J
219        220        Varillas J. P.     Varillas       P     Varillas P
221        222            Valkusz M.      Valkusz       M      Valkusz M
225        226           Sandgren T.     Sandgren       T     Sandgren T
226        227            Johnson S.      Johnson       S      Johnson S
227        228               Neff A.         Neff       A         Neff A
231        232     Pacheco Mendez R.      Pacheco       R      Pacheco R
233        234             Blanch D.       Blanch       D       Blanch D
235        236              Sousa J.        Sousa       J        Sousa J
237        238         Benchetrit E.   Benchetrit       E   Benchetrit E
246        247  Sanchez Izquierdo N.      Sanchez       N      Sanchez N
247        248    Barranco Cosano J.     Barranco       J     Barranco J
249        250          Herbert P.H.      Herbert     P.H    Herbert P.H
251        252      Van Rijthoven T.          Van       T          Van T
252        253               Otte O.         Otte       O         Otte O
253        254             Searle H.       Searle       H       Searle H
259        260               Borg L.         Borg       L         Borg L
262        263             Martin A.       Martin       A       Martin A
266        267          Andreozzi G.    Andreozzi       G    Andreozzi G
269        270           Pospisil V.     Pospisil       V     Pospisil V
270        271        Kirchheimer S.  Kirchheimer       S  Kirchheimer S
275        276             Forbes M.       Forbes       M       Forbes M
277        278            Tseng C.H.        Tseng     C.H      Tseng C.H

In [28]:
# Fuzz
from rapidfuzz import fuzz, process

In [64]:
# Create a mapping table
mapping = []

for csv_key in csv_data['key']:
    match = process.extractOne(
        csv_key, 
        sql_data['key'], 
        scorer=fuzz.ratio
    )
    if match and match[1] > 50:  # 50% similarity threshold
        mapping.append({
            'csv_name': csv_key,
            'sql_name': match[0],
            'similarity': match[1]
        })

mapping_df = pd.DataFrame(mapping)

In [65]:
# Find unmatched names
unmatched_csv = csv_data[~csv_data['key'].isin(mapping_df['csv_name'])]
unmatched_sql = sql_data[~sql_data['key'].isin(mapping_df['sql_name'])]

In [66]:
unmatched_sql

     player_id                  name    last_name initial            key
32          33          O Connell C.            O       C            O C
42          43         Van Assche L.          Van       L          Van L
101        102    Zapata Miralles B.       Zapata       B       Zapata B
115        116  Moreno De Alboran N.       Moreno       N       Moreno N
121        122             Murray A.       Murray       A       Murray A
141        142              Thiem D.        Thiem       D        Thiem D
159        160            Mpetshi G.      Mpetshi       G      Mpetshi G
189        190           Tseng C. H.        Tseng       H        Tseng H
221        222            Valkusz M.      Valkusz       M      Valkusz M
225        226           Sandgren T.     Sandgren       T     Sandgren T
227        228               Neff A.         Neff       A         Neff A
231        232     Pacheco Mendez R.      Pacheco       R      Pacheco R
237        238         Benchetrit E.   Benchetrit       E   Benchetrit E
246        247  Sanchez Izquierdo N.      Sanchez       N      Sanchez N
252        253               Otte O.         Otte       O         Otte O
269        270           Pospisil V.     Pospisil       V     Pospisil V
270        271        Kirchheimer S.  Kirchheimer       S  Kirchheimer S

In [67]:
unmatched_csv

,rank,name,age,points,nationality,atp_code,first_name,last_name,key
64,65,Christopher O'Connell,30,795,AUS,o483,Christopher,O'Connell,O'Connell C
79,80,Botic van de Zandschulp,29,712,NED,v812,Botic,Zandschulp,Zandschulp B
127,128,Luca Van Assche,20,471,FRA,v0dz,Luca,Assche,Assche L
135,136,Jerome Kym,21,451,SUI,k0ep,Jerome,Kym,Kym J
151,152,Nishesh Basavareddy,19,390,USA,b0nn,Nishesh,Basavareddy,Basavareddy N
156,157,Felipe Meligeni Alves,26,377,BRA,mw75,Felipe,Alves,Alves F
187,188,Valentin Royer,23,313,FRA,r0eb,Valentin,Royer,Royer V
192,193,Sho Shimabukuro,27,297,JPN,sy67,Sho,Shimabukuro,Shimabukuro S
214,215,Nikoloz Basilashvili,32,269,GEO,bg23,Nikoloz,Basilashvili,Basilashvili N
241,242,Gonzalo Oliveira,29,235,VEN,o482,Gonzalo,Oliveira,Oliveira G
285,286,Pablo Llamas Ruiz,22,183,ESP,l0cx,Pablo,Ruiz,Ruiz P
300,301,Rio Noguchi,25,174,JPN,n09u,Rio,Noguchi,Noguchi R
340,341,Oleg Prihodko,27,146,UKR,pl64,Oleg,Prihodko,Prihodko O
341,342,Philip Sekulic,21,146,AUS,s0ti,Philip,Sekulic,Sekulic P
343,344,Vadym Ursu,27,143,UKR,u176,Vadym,Ursu,Ursu V
346,347,Ilia Simakin,21,142,RUS,s0o6,Ilia,Simakin,Simakin I
351,352,Kyle Edmund,29,140,GBR,e831,Kyle,Edmund,Edmund K
364,365,Colton Smith,21,134,USA,s0ze,Colton,Smith,Smith C
371,372,Kris Van Wyk,28,131,RSA,va23,Kris,Wyk,Wyk K
397,398,Oliver Crawford,25,116,GBR,c0ak,Oliver,Crawford,Crawford O
405,406,Shintaro Imai,31,113,JPN,i330,Shintaro,Imai,Imai S
423,424,Petr Bar Biryukov,22,102,RUS,b0lq,Petr,Biryukov,Biryukov P
451,452,Kokoro Isomura,21,92,JPN,i0ax,Kokoro,Isomura,Isomura K
452,453,Orlando Luz,26,91,BRA,lf26,Orlando,Luz,Luz O
460,461,Sascha Gueymard Wayenburg,21,88,FRA,g0gw,Sascha,Wayenburg,Wayenburg S
467,468,Pedro Araujo,22,85,POR,a0es,Pedro,Araujo,Araujo P
482,483,Pawel Juszczak,30,82,POL,cf60,Pawel,Juszczak,Juszczak P
491,492,Mariano Kestelboim,28,79,ARG,ke69,Mariano,Kestelboim,Kestelboim M